@import url('https://use.typekit.net/zah2tdf.css');
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: open-sans, sans-serif;
  color: var(--grey-1);
  scroll-behavior: smooth;
}

h1 {
  font-size: 1.9rem;
  margin-bottom: 0;
  font-family: p22-underground;
}

body {
  margin: 0;
  background: var(--grey-9);
}

button {
  background: none;
  border: none;
}

header {
  font-family: p22-underground;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header:before,
header:after {
  content: '•';
  color: var(--primary);
  padding: 0.7rem;
  padding-top: 0rem;
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
}

section {
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 60rem;
  position: relative;
}

a:link,
a:visited {
  color: var(--grey-9);
  text-decoration: underline;
  text-decoration-color: var(--primary);
  -webkit-text-decoration-color: var(--primary);
}

a:hover {
  color: var(--primary);
  transition: color 0.1s;
}

:root {
  --primary: hsl(51, 100%, 50%);
  --primary-bg-1: hsl(227, 40%, 9%);
  --primary-bg-2: hsl(227, 47%, 17%);
  --primary-bg-3: hsl(229, 56%, 24%);
  --primary-gold: hsl(50, 100%, 91%);
  --primary-gold-muted: hsl(50, 30%, 75%);
  --grey-1: hsl(0, 0%, 10%);
  --grey-shadow: hsla(0, 0%, 10%, 0.3);
  --grey-7: hsl(0, 0%, 70%);
  --grey-9: hsl(0, 0%, 98%);
  --primary-grey-5: hsl(227, 22%, 41%);
  --primary-grey-7: hsl(229, 80%, 84%);
  --primary-grey-8: hsl(229, 50%, 86%);
  --primary-grey-9: hsl(227, 21%, 90%);
  --card-shadow: var(--grey-shadow) 0.5rem 0.5rem 2rem 0.5rem;
  --dark-overlay: hsla(227, 40%, 9%, 0.9);
  --mobile-width: 45rem;
}