<div class="body" style="transform: rotate({angle})">
  <img src="/icons/gsg-logo.svg" alt="Golden Swarm Games logo" />
</div>

<style>
  .body {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21rem;
    width: 15rem;
    border-radius: 1rem;
    margin: 2rem;
    background: linear-gradient(
      59deg,
      var(--primary-bg-2) 18%,
      var(--primary-bg-1) 18%,
      var(--primary-bg-1) 82%,
      var(--primary-bg-2) 82%
    );
    border: 0.6rem solid var(--primary-bg-2);
    box-shadow: 0 0 0 0.4rem #fff, var(--card-shadow);
    transform-origin: 25% 100%;
  }
  img {
    height: 45%;
  }
</style>

<script>
  export let angle = '0deg'
</script>
