<div class="container">
  <slot></slot>
</div>

<style>
  .container {
    position: relative;
    box-shadow: var(--card-shadow);
    background-color: var(--grey-9);
    width: 20rem;
    height: 25rem;
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /**fix overflow issue in safari*/
    opacity: 0.99;
  }
  .container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(45deg, hsla(0, 0%, 100%, 0), white 70%),
      url('/icons/diamond-pattern.svg'), white;
    background-size: auto, 2rem, auto;
    z-index: -1;
  }
</style>
