<nav>
  <div class="navItems">
    <img class="logo" src="/icons/gsg-logo.svg" alt="GSG logo" />
    <div class="link-container {menuToggled ? 'active' : 'hidden'}">
      {#each sections as link}
      <a
        href="#{link.id}"
        on:click="{(event) => scrollToSection(event, link.id)}"
        >{link.label}</a
      >
      {/each}
    </div>
    <button
      class="menu-toggle"
      on:click="{() => menuToggled = !menuToggled}"
    >
    <MenuIcon menuToggled="{menuToggled}"/>
  </button>
  </div>
</nav>

<style>
  nav {
    width: 100%;
    height: 3.5rem;
    margin-bottom: -3.5rem;
    position: relative;
    background: hsla(227, 40%, 16%, 0.5);
    z-index: 1;
  }
  .navItems {
    display: flex;
    max-width: 60rem;
    align-items: flex-end;
    align-items: center;
    margin: auto;
  }
  a {
    font-family: 'p22-underground';
    text-align: center;
    color: var(--grey-9);
    text-decoration: none;
    padding: 0 1.5rem;
  }
  a:hover {
    color: var(--primary);
    transform: scale(1.05);
    transition: transform 0.1s;
  }
  .logo {
    height: 100%;
    margin-right: auto;
    padding: 0.7rem;
  }
  .menu-toggle {
    display: none;
    padding: 1rem;
  }
  @media (max-width: 45rem) {
    .menu-toggle {
      display: initial;
    }
    .link-container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      visibility: visible;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      justify-content: center;
      background: var(--dark-overlay);
      transition: bottom 0.2s, opacity 0.3s;
      z-index: -1;
    }
    .link-container.hidden {
      bottom: 100vh;
      opacity: 0;
    }
    a {
      font-size: 2.5rem;
      margin: 2rem;
    }
  }
</style>

<script>
  import MenuIcon from './MenuIcon.html'

  const sections = [
    {
      label: 'Home',
      id: 'home',
    },
    {
      label: 'Club Leaders',
      id: 'club-leaders',
    },
    {
      label: 'Getting Involved',
      id: 'getting-involved',
    },
  ]

  let menuToggled = false

  let scrollToSection = (event, sectionId) => {
    event.preventDefault()
    window.history.replaceState({}, '', '#' + sectionId)
    document.getElementById(sectionId).scrollIntoView({
      behavior: 'smooth',
      block: 'start',
    })
    menuToggled = false
  }
</script>
