<svelte:window on:scroll="{onScroll}" />
{#if !hasScrolled}
<div class="scroll-down-indicator"></div>
{/if}

<style>
  .scroll-down-indicator {
    position: fixed;
    bottom: 1.5rem;
    left: 0;
    width: 100%;
    height: 3rem;
    background: url('/icons/down-pointer.svg') no-repeat center;
  }
  :global(.ready-for-anim) .scroll-down-indicator {
    animation: float 2s ease-in-out infinite;
    animation-delay: 1s;
  }
  @media (min-width: 45rem) {
    .scroll-down-indicator {
      display: none;
    }
  }
  @keyframes float {
    0% {
      bottom: 1.5rem;
    }
    50% {
      bottom: 0.5rem;
    }
    100% {
      bottom: 1.5rem;
    }
  }
</style>

<script>
  import { onMount } from 'svelte'
  import { animationTriggers } from '../stores'

  let waiting = false
  let bodyHeight = 0
  let hasScrolled = false

  onMount(() => {
    bodyHeight = document.body.clientHeight
  })

  const onScroll = ({ target }) => {
    hasScrolled = document.body.scrollTop !== 0

    if (waiting) return
    waiting = true

    Object.keys($animationTriggers).forEach(selector => {
      target.querySelectorAll(selector).forEach(element => {
        const elementTop = element.getBoundingClientRect().top
        if (elementTop < bodyHeight * 0.8) {
          if (!element.classList.contains('scrolled-to')) {
            element.classList.add('scrolled-to')
          }
          animationTriggers.set({
            ...$animationTriggers,
            [selector]: true,
          })
        } else {
          animationTriggers.set({
            ...$animationTriggers,
            [selector]: false,
          })
        }
      })
    })

    setTimeout(() => {
      waiting = false
    }, 100)
  }
</script>
